[Unit]
Description=NCSI Client demultiplexer daemon

[Service]
ExecStart=/usr/bin/ncsi_client
SyslogIdentifier=the_client

[Install]
WantedBy=multi-user.target
